
/* navigation */

.logo-img{
    height: 60px;
    margin-top: 10px;
    margin-left: 30px
}





/* filter + searchbar + add */


.filter_searchbar_add{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;
    justify-content:center;
    gap: 15rem;
}


/*  filter button  */

.filter_svg{
height: 35px;
}

.filter_button:hover{
    cursor: pointer;
}

/*  searchbar  */

.search_form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar_element{
    height:35px;
    width: 25rem;
}

.search_button{
    height: 38px;
    margin-left: 10px;
    width: 38px;
}

.search_svg{
    height: 18px
}

/*  add studetnt */

.add_student_button{
  transition: content 0.3s;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background-color: #4CBB17;
  border: none;
  border-radius: 10px;
}

.add_student_button:hover,
.add_student_button:focus,
.add_student_button:active{
  background-color: #5ec22e;
  cursor: pointer;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}



/*  pop up screen  */

.add_student_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 30rem;
    padding: 6rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

.field{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
}



.label_element{
    align-self: left;
}


.close_btn_svg{
    height: 20px;
}

.close_btn {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0px;
      right:0px;
      width: 30px;
      cursor: pointer;
      background-color: #a6aaa9;
      border: none;
      border-radius: 0 0 0 3px;
    }

.close_btn:hover{
    background-color: #b64243;
}

.input_field{
    display: flex;
    margin-top:2.4rem;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    }

.input_element {
    width: 17rem;
}

.label_element{
    font-size: 1.4rem;
    font-weight:600;
}



/* display screen */

.display_screen{
    margin-top: 50px;
    height: 40rem;
    width: 80rem;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}


